ul {
  list-style: none;
}

body {
  display: flex;
  width: 100%;
  padding: 12px;
}

.totem {
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;

  &__content_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    transition: transform ease 1s;
  }

  &__item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    &:nth-child(odd) {
      background-color: purple;
      color: white;
    }

    &:nth-child(even) {
      background-color: greenyellow;
    }
  }
}